---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Austrian Famous Artist  <strong>Gustav Klimt</strong></h1>
<img alt="Gustav Klimt 'The Virgin', 1913. " src="/images/klimt.png" width="500" />
<h2> Gustav Klimt's Painting, "The Virgin", 1913. </h2>